node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

/src/generated/prisma

.env.example

/src/payment.service.ts
/src/payment.routes.ts
/src/payment.middleware.ts
/src/payment.controller.ts
/src/payment.types.ts