node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

/src/generated/prisma

/src/types/tours.types.ts

/src/services/tours.service.ts

/src/middleware/tours.middleware.ts

/src/controllers/tours.controller.ts

/src/routes/tours.routes.ts